:root{--body-bg-color: hsla(0,0%,100%,0)}

// 添加背景图片
body {
      background: #808080;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.95;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.95;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.95);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.95;
}

//文章阴影
.post {
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//去除顶部黑线
.headband {display: none;}